<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">Food Recipe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <% if (isLogin && isPage) { %>
                                <a class="nav-link" href="/logOut">LogOut<span class="sr-only">(current)</span></a>
                                <%} else { %>
                                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                                    <% } %>


                        </li>
                    </ul>
                </div>
            </nav><!-- navbar end -->
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ea, aspernatur maiores amet quas in laboriosam
        minima totam exercitationem qui magni repellendus eveniet illo fuga perferendis accusamus voluptates id
        quisquam.</p>
</body>

</html>